.taskList {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.taskList__name {
  font-size: 25px;
}

.taskList__button {
  background-color: transparent;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.taskList__icon {
  width: 20px;
}
