@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  --dark-grey: #181818;
  --light-grey: #b8b8b8;
  --card-bg-color: #1e1e1e;
  --placeholder-text-color: #2e2e2e;
  --card-text-color: #e9e9ea;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style-type: none;
}
